# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Alembic
alembic.ini

# Database
*.db
*.sqlite3

# Distribution / packaging
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db